@font-face {
	font-family: 'NanumSquareNeo-Variable';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'KBO-Dia-Gothic_bold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

/* 사이트들 기본 폰트 모양*/
html>body,
html>body .ProseMirror,
html>body .toastui-editor-contents {
	font-family: 'NanumSquareNeo-Variable', sans-serif;
}

/* 노멀라이즈 */

* {
	margin: 0;
}

body,
ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

/*토스트ui관련 */

body{
	 padding-top: 100px; /*헤더 높이 만큼 부여 -> display: flex; 도 유령화니까.*/
}

html>body .ProseMirror,
html>body .toastui-editor-contents {
	font-size: 1.25rem;
}

/*채팅창 높이 고정*/
.chat-height{
	height: 50vh;
}

/*헤더 스크롤 얘가 있어야 스크립트가 class를 넣다 뻈다 하면서 일하지*/
.nav-up {
	top: -100px !important; /*div가 id로 되어있고, css가 클래스라서 id의 top0에 져서 이때까지 안된거. 여기를 imoprt 하면 애가 이겨*/
}

.nav-down {
	top: 0 !important;
}

/* 헤더부분 */
/* 로고 폰트 모양 */
#header {
	width: 100%;
	height: 100px;
	background-color: #D1FAE5;
	display: flex;
	align-items: center;
	font-family: 'HakgyoansimWoojuR';
	top: 0;
	z-index: 3;
	margin-bottom: 30px;
	position: fixed; 
}

.site_name {
	font-family: 'KBO-Dia-Gothic_bold';
	font-size: 30px;
	margin: 0 2%;
}

.site_name>a {
	display: flex;
}

.site_name>a>img {
	width: 50px;
}


.menu_bar {
	padding: 10px;
	position: relative;
	display: flex;

}

.menu_bar_item {
	font-size: 20px;
	width: 200px;
	padding: 10px;
	display: inline-block;
	position: relative;
	text-align: center;
}

/* 드롭다운 메뉴의 스타일 */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #D1FAE5;
	width: 200px;
	margin-top: 10px;
	z-index: 5;

}

.menu_bar_item:hover .dropdown-content {
	display: block;
}

.dropdown-content a {
	display: block;
	padding: 10px;
}

.dropdown-content a:hover {
	background-color: #A7f3d0;
}

.login-out-session {
	margin: 0 2%;
}

/* footer 부분 css */
#footer {
	background-color: #D1FAE5;
	display: flex;
	padding: 1.5%;
	margin-top: 1%;
}

.footer_menu {
	width: 90%;
	margin-left: 2%;
	display: flex;
	align-items: center;
}

.footer_menu>ul {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/* head2 부분 css */
#header2 {
	display: flex;
	justify-content: center;
	padding: 5% 0;
}

#logo_name {
	color: #6EE7B7;
	font-size: xx-large;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	
}

/*칼럼 버튼들 있는곳 크기 변경*/
#likeCount{
	width: 300px;
}

/* login 부분 css */
.login {
	width: 50%;
	border: 1px solid black;
	border-radius: 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5% 0;
	margin: auto;
}

.login h1 {
	margin-bottom: 2%;
}

.login form {
	width: 80%;
}

.login .width80{
	width: 80%;
}

.login table {
	width: 100%;
}

.login tr {
	width: 100%;
	height: 2.5rem;
}

.login>div {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1% 0;
}

.login .button_center {
	display: flex;
	justify-content: center;
}

.login .external_login {
	width: 80%;
}

.login>.account_row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.login>.account_row>.account_right {
	display: flex;
}

.login>.account_row>.account_right>div {
	margin: 0 15px;
}

.login hr {
	border: 1px dashed black;
	width: 90%;
}

.login .external_login>div>a>img {
	width: 250px;
	margin: 1% 0;
}

.phrases {
	display: flex;
	justify-content: start
}

.check_reason {
	border: 1px solid black;
	border-radius: 3%;
	padding: 3%;
}

.ext>textarea {
	display: block;
	width: 100%;
}

.banner-div {
	position: fixed;
	top: 47%;
	right: 1%;
	z-index: 9;
}

/*소개페이지 css 위의 공통부분 빼고 추가로 필요한거*/

.login>.content-section {
	border: 2px dashed #A7F3D0;
	padding: 2%;
}

.login>.content-section>h2 {
	background-color: #D1FAE5;
	/* padding: 0 2%; */
}

.login>.content-section>.img-div {
	display: flex;
	justify-content: end;
}

.login>.content-section>.img-div>.chick-img {
	width: 15%;
}




/* 토론방, 칼럼 리스트 부분 css */
.listBody {
	padding: 5%;
}


.empty {
	height: 3rem;
}

.list_outline {
	padding: 3%;
}

.menu-vertical {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.text-xl {
	width: 80%;
}

.article_count {
	margin: 3% 0;
}
.room-name{
	font-family: 'S-CoreDream-3Light';
}

/*foundID css*/

.login>.contents {
	display: flex;
	flex-direction: column;
}

.login>.contents>p {
	margin: 3% 0;
}

section>.button_bar {
	width: 20%;
	display: flex;
	justify-content: space-between;
}

.border {
	border: 1px solid #064E3B;
}

/* 메인페이지 : 특수성때문에 css 따로함 */

.main-height{
	height: 33rem;
}
.main-image-height{
	height: 31rem;
}

.carousel-item{
	justify-content: center;
}


.main>.main-in-section {
	border: 1px solid yellowgreen;
	padding: 1%;
	margin-top: 2%;
}

.main>.main-in-section>.section-title {
	border: 2px solid yellowgreen;
	width: 20%;
	margin-bottom: 10px;
	padding: 5px;
}

.main>.main-in-section>.items {
	display: flex;
	justify-content: space-between;
}

.main>.main-in-section>.items> .item {
	border: 1px dashed yellowgreen;
	width: 19%;
	height: 18rem;
	display: flex;
	flex-direction: column;
}

/*메인의 이미지 변경*/

/*메인의 하트 색상 변경*/
.fa-heart{
	color: red;
}
/*메인의 사람들 색상 변경*/
.fa-people-group{
	color: green;
}

/*짝수 일때와 홀수 일때 배경색 차별*/
.main>.main-in-section>.items>.item:nth-child(even) {
  background-color: #E3F6CE; /* 짝수일 때의 배경색 */
}

.main>.main-in-section>.items>.item:nth-child(odd) {
  background-color: #CEF6CE; /* 홀수일 때의 배경색 */
}


.main>.main-in-section>.items>.item>a>.title {
	text-align: center;
	padding: 5%;
	margin: 15% 0 5% 0;
	font-size: 1.5rem;
}

.main>.main-in-section>.items>.item:hover>a>.title{
	text-decoration: underline;
/*	text-decoration-color: yellowgreen;*/
}

.main>.main-in-section>.items>.item>a>.writer{
	text-align: center;
	padding: 2%;
	font-size: 1rem;
}

.main>.main-in-section>.items>.item>a>.likeCount{
	text-align: center;
	padding: 2%;
	font-size: 1rem;
}

.main>.main-in-section>.items>.item>a>.discussionCount{
	text-align: center;
	padding: 2%;
	font-size: 1rem;
}

.main>.main-in-section>.table-section {
	display: flex;
	align-items: center;
	flex-direction: column;
	/* background-color: red; */

}

.main>.main-in-section>.table-section>.table-row {
	/* background-color: blueviolet; */
	width: 70%;
	display: flex;
	justify-content: space-around;
	margin: 1%;
}

.main>.main-in-section>.table-section>.table-row>.table-item {
	border: 1px solid yellowgreen;
	background-color: #E3F6CE;
	width: 32%;
	height: 150px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main>.main-in-section>.table-section>.table-row>.table-item:hover {
	background-color: #CEF6CE;
	text-decoration: underline;
}

/* detail css*/
.listBody>.title-section {
	display: flex;
}

.listBody>.title-section>.title {
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.listBody>.title-section>.alarm-session {
	width: 400px;
	display: flex;
	justify-content: space-between;
}

.listBody>.title-section>.alarm-session>div {
	/* border: 1px solid red; */
	padding: 5px;
}

.listBody>.article-read {
	padding: 1px 15%;
}

/*chatbot css*/
.listBody>.chat-contents>.chat-question {
	width: 30%;
}


.listBody>.chat-contents>.chat-question .question-item {
	border-top: 2px solid #059669;
	border-bottom: 2px solid #059669;
	text-align: center;
	margin: 20px 0;
	padding: 20px 0;
}

/* 1:1 고객 상담 css 옮겨야하는거  */
.table-section tr {
	height: 4rem;
}

/*관리자 헤더*/
#admin_header {
	background-color: #D1FAE5;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 200px;
	z-index: 3;
	display: flex;
	flex-direction: column;
}

#admin_header>.menu_bar {
	padding: 10px;
}

#admin_header>.menu_bar>ul>.menu_bar_item:hover {
	background-color: #A7F3D0;
}

/*메뉴가 옆으로 있을꺼니까 바디를 이렇게 해놔야함. 그래야 안겹치지.-> 모든 관리자 페이지 body section은 클래스가 이거 붙어야함.*/
.Admain{
	position: absolute;
	left: 210px;
	right: 0;
	top: 0;
	bottom: 0;
}

/*채팅 토론방 css*/

.event-message{
	display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dashed green;
    padding: 7px 0;
    margin: 10px;
}

.me{
 	background-color: #A7f3d0;
 	padding: 7px;
    margin: 10px;
    display: block;
    text-align: right; /* 내용물을 오른쪽 정렬 */
}

.other{
	background-color: #059669;
 	padding: 7px;
    margin: 10px;
}

.backColorGreen {
    background-color: rgba(206, 246, 206, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 1px;
}
/*책 검색결과 나올 부분*/
.bookSearchResult {
	width: 100%;
}

.center{
	width: 70%;
	margin: 10px 15%;
}

/*챗봇 버블 창 스크롤*/
.chatbot-bubble{
	overflow-y: auto;
}

/*챗봇의 로봇 모양 키우기*/
#chatbot-bubble .fa-robot, #chatbot-bubble .fa-user{
	font-size: xx-large;
	color: green;
}
/*챗봇 hover시 설정*/
.question-item:hover, #chatbot-bubble li:hover{
  text-decoration: underline;
  cursor: pointer;
  color: green;
}

#chatbot-bubble ul{
	border: 1px dashed black;
    width: 50%;
    padding: 0 5%;	
}


