@font-face {
	font-family: 'NanumSquareNeo-Variable';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'KBO-Dia-Gothic_bold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

/* 사이트들 기본 폰트 모양*/
html>body,
html>body .ProseMirror,
html>body .toastui-editor-contents {
	font-family: 'NanumSquareNeo-Variable', sans-serif;
}

/* 노멀라이즈 */

* {
	margin: 0;
}

body,
ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

/* 메인배경색 : background-color: #D1FAE5; */

/*토스트ui관련 */

html>body .ProseMirror,
html>body .toastui-editor-contents {
	font-size: 1.25rem;
}

/*헤더 스크롤 얘가 있어야 스크립트가 class를 넣다 뻈다 하면서 일하지*/
.nav-up {
	top: -100px;
}

.nav-down {
	top: 0;
}

/* 헤더부분 */
/* 로고 폰트 모양 */
#header {
	width: 100%;
	height: 100px;
	background-color: #D1FAE5;
	display: flex;
	align-items: center;
	font-family: 'HakgyoansimWoojuR';
	top: 0;
	z-index: 3;
	margin-bottom: 30px;
}

.site_name {
	font-family: 'KBO-Dia-Gothic_bold';
	font-size: 30px;
	margin: 0 2%;
}

.site_name>a {
	display: flex;
}

.site_name>a>img {
	width: 50px;
}


.menu_bar {
	padding: 10px;
	position: relative;
	display: flex;

}

.menu_bar_item {
	font-size: 20px;
	width: 200px;
	padding: 10px;
	display: inline-block;
	position: relative;
	text-align: center;
}

/* 드롭다운 메뉴의 스타일 */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #D1FAE5;
	width: 200px;
	margin-top: 10px;
	z-index: 5;

}

.menu_bar_item:hover .dropdown-content {
	display: block;
}

.dropdown-content a {
	display: block;
	padding: 10px;
}

.dropdown-content a:hover {
	background-color: #A7f3d0;
}

.login-out-session {
	margin: 0 2%;
}

/* footer 부분 css */
#footer {
	background-color: #D1FAE5;
	display: flex;
	padding: 1.5%;
	margin-top: 1%;
}

.footer_menu {
	width: 90%;
	margin-left: 2%;
	display: flex;
	align-items: center;
}

.footer_menu>ul {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/* head2 부분 css */
#header2 {
	display: flex;
	justify-content: center;
	padding: 5% 0;
}

#header2>div>a>span {
	color: #6EE7B7;
	font-size: xx-large
}

/* login 부분 css */
.login {
	width: 50%;
	border: 1px solid black;
	border-radius: 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5% 0;
	margin: auto;
}

.login h1 {
	margin-bottom: 2%;
}

.login form {
	width: 80%;
}

.login .width80{
	width: 80%;
}

.login table {
	width: 100%;
}

.login tr {
	width: 100%;
	height: 2.5rem;
}

.login>div {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1% 0;
}

.login .button_center {
	display: flex;
	justify-content: center;
}

.login .external_login {
	width: 80%;
}

.login>.account_row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.login>.account_row>.account_right {
	display: flex;
}

.login>.account_row>.account_right>div {
	margin: 0 15px;
}

.login hr {
	border: 1px dashed black;
	width: 90%;
}

.login .external_login>img {
	width: 250px;
	margin: 1% 0;
}

.phrases {
	display: flex;
	justify-content: start
}

.check_reason {
	border: 1px solid black;
	border-radius: 3%;
	padding: 3%;
}

.ext>textarea {
	display: block;
	width: 100%;
}

.banner_div {
	position: fixed;
	top: 47%;
	right: 1%;
}

/*소개페이지 css 위의 공통부분 빼고 추가로 필요한거*/
/* amimasta */
/* 뱁새 이미지 돔. */
.avatar>.w-24 rounded-full>.rotate-center {
	-webkit-animation: rotate-center 0.6s ease-in-out both;
	animation: rotate-center 0.6s ease-in-out both;
}

/* 주인장이름 팡! */
.content-section>.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.login>.content-section {
	border: 2px dashed #A7F3D0;
	padding: 2%;
}

.login>.content-section>h2 {
	background-color: #D1FAE5;
	/* padding: 0 2%; */
}

.login>.content-section>.img-div {
	/* border: 1px solid red; */
	display: flex;
	justify-content: end;
}

.login>.content-section>.img-div>.chick-img {
	width: 15%;
}




/* 토론방, 칼럼 리스트 부분 css */
.listBody {
	padding: 5%;
}


.empty {
	height: 3rem;
}

.list_outline {
	padding: 3%;
}

.menu-vertical {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.text-xl {
	width: 80%;
}

.article_count {
	margin: 3% 0;
}

/*foundID css*/

.login>.contents {
	display: flex;
	flex-direction: column;
}

.login>.contents>p {
	margin: 3% 0;
}

section>.button_bar {
	width: 20%;
	display: flex;
	justify-content: space-between;
}

.border {
	border: 1px solid #064E3B;
}

/* 메인페이지 : 특수성때문에 css 따로함 */
.main {
	border: 1px solid salmon;
}

.main>.main-in-section {
	border: 1px solid yellowgreen;
	padding: 1%;
	margin-top: 2%;
}

.main>.main-in-section>.section-title {
	border: 2px solid blueviolet;
	width: 20%;
	margin-bottom: 10px;
	padding-left: 1%;
}

.main>.main-in-section>.items {
	border: 1px solid navy;
	display: flex;
	justify-content: space-between;
}

.main>.main-in-section>.items>.item {
	border: 1px solid orange;
	width: 19%;
	height: 18rem;
	display: flex;
	flex-direction: column;
}

.main>.main-in-section>.items>.item>.title {

	text-align: center;
	padding: 5%;
	margin: 15% 0 5% 0;
}

.main>.main-in-section>.items>.item>.writer {
	text-align: center;
	padding: 2%;
}

.main>.main-classification>.table-section {
	border: 1px solid red;
	display: flex;
	align-items: center;
	flex-direction: column;
	/* background-color: red; */

}

.main>.main-classification>.table-section>.table-row {
	border: 1px solid blueviolet;
	/* background-color: blueviolet; */
	width: 70%;
	display: flex;
	justify-content: space-around;
	margin: 1%;
}

.main>.main-classification>.table-section>.table-row>.table-item {
	border: 1px solid orange;
	/* background-color: orange; */
	width: 33%;
	height: 150px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* detail css*/
.listBody>.title-section {
	display: flex;
}

.listBody>.title-section>.title {
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.listBody>.title-section>.alarm-session {
	width: 400px;
	display: flex;
	justify-content: space-between;
}

.listBody>.title-section>.alarm-session>div {
	/* border: 1px solid red; */
	padding: 5px;
}

.listBody>.article-read {
	padding: 1px 15%;
	background-color: rgba(248, 248, 255, 0.5);
	

}

/*chatbot css*/
.listBody>.chat-contents>.chat-question {
	width: 30%;
}


.listBody>.chat-contents>.chat-question .question-item {
	border-top: 2px solid #059669;
	border-bottom: 2px solid #059669;
	text-align: center;
	margin: 20px 0;
	padding: 20px 0;
}

/* 1:1 고객 상담 css 옮겨야하는거  */
.table-section tr {
	height: 4rem;
}

/*관리자 헤더*/
#admin_header {
	background-color: #D1FAE5;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 200px;
	z-index: 3;
	display: flex;
	flex-direction: column;
}

#admin_header>.menu_bar {
	padding: 10px;
}

#admin_header>.menu_bar>ul>.menu_bar_item:hover {
	background-color: #A7F3D0;
}

/*메뉴가 옆으로 있을꺼니까 바디를 이렇게 해놔야함. 그래야 안겹치지.-> 모든 관리자 페이지 body section은 클래스가 이거 붙어야함.*/
.Admain{
	position: absolute;
	left: 210px;
	right: 0;
	top: 0;
	bottom: 0;
	
}